version: "3"
services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "6831:6831/udp"
    networks:
      - telemetry
  cyberpunk:
    image: cyberpunk:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./:/mnt/data
    environment:
      PORT: 8080
      AUDIO_PATH: "audius"
      LOCAL_STORAGE_BASE_DIR: /mnt/data/testdata/
      JAEGER_TRACING_ENABLED: 1
      JAEGER_AGENT_HOSTNAME: "jaeger"
      JAEGER_AGENT_PORT: 6831
      GCS_RESULTS_BUCKET: "cyberpunk_results_bucket"
      GOOGLE_APPLICATION_CREDENTIALS: "/cyberpunk-svc-acc.json"
    ports:
      - "8080:8080"
    networks:
      - telemetry
    depends_on:
      - jaeger

networks:
  telemetry: