version: "3"
services:
  cyberpunk:
    image: cyberpunk:latest
    volumes:
      - ./:/mnt/data
    environment:
      PORT: 8080
      AUDIO_PATH: "local"
      LOCAL_STORAGE_BASE_DIR: /mnt/data/testdata/
    ports:
      - "8080:8080"
  jaegar:
    image: jaegertracing/all-in-one:1.32
    ports:
      - "16686:16686"
      - "6831:6831/udp"
